
#principal{
    background-image: url(imagenFondo.jpg);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
}
#menuSuperior{
    background-color: azure;
    position: relative;
    top: 10px;
    border: 2px;
    border-radius: 7px;
}
#rejillaCentral{
}
#divLogo{
    background-repeat: no-repeat;
    background-image: url(Imagenes/mattell.png);
    height: 76px;
<<<<<<< Updated upstream
}
#imagenNombreKinderMattell{
  background-color: black;
}
=======
    border: 2px;
    border-radius: 7px;
}
>>>>>>> Stashed changes
·bienvenida{
    top 200px;
}
