
#principal{
    background-image: url(Fondo1.png);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
}
#menuSuperior{
    background-color: azure;
    position: relative;
    top: 10px;
    border: 2px;
    border-radius: 7px;
}
<<<<<<< HEAD

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 60%;
  height: auto;
  
  
}

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 80%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}



@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

=======
#divCarrusel{
   background-color: black;
   top: 40px;
   height: 400px;
   border: 2px;
   border-radius: 7px;
}
#divInferiorIzq{
  top: 40px;
  background-color: red;
  height: 100px;
}
#divInferiorDere{
  top: 40px;
  background-color: yellow;
  height: 100px;
}
.divInterior{
  margin-top: 5px;
  width: auto;
  height: 90%;
  background-color: blue;
  border-style: inset;
  border-color: cyan;
>>>>>>> origin/master
}
#rejillaCentral{
position:absolute;
top:50%;
left:10%;
right:20%;

}



#divLogo{
    background-image: url(Imagenes/Copia100x100cubo.png);
    width: 100px;
    height: 110px;
<<<<<<< Updated upstream
}
#imagenNombreKinderMattell{
  background-image: url(TituloKinder2.png);
  background-repeat: no-repeat;
  height: 100px;
}
=======
    border: 2px;
    border-radius: 7px;
}
>>>>>>> Stashed changes
·bienvenida{
    top 200px;
   
}
<<<<<<< HEAD



=======
.modal-header
 {
      background-color: b5fb8f;
      font-family: Script;
      font-size: 22px;
 }
>>>>>>> origin/master
